{% extends 'main.html' %} 
{% block content %}

{% if page == 'login' %}
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <label for=""> username : </label>
        <input type="text" name="username" placeholder=" Enter Username">

        <label for=""> password : </label>
        <input type="password" name="password" placeholder=" Enter password">

        <input type="submit" value="login">

        <p>I haven't account </p>
        <a href="{%  url 'register' %}">Register</a>
    
    </form>
</div>

{% else %}

<div>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p}}

        <input type="submit" value="Register">
        <p>I allready  account </p>
        <a href="{%  url 'login' %}">login</a>
    
    
    </form>
</div>

{% endif %}




{% endblock content %}